@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kumbh+Sans:wght@100..900&family=Quicksand:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary: #202c5c;
  --second: #ffffff;
  --third: #f2f1f1;
  --submenu: rgba(173, 173, 173, 0.786);
  --band: #ffffff81;
  --red: #F95959;
  --success: rgb(0, 158, 105);
}

#app {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100vh;
  color: var(--primary);
  background: url('../../static/bg.png') no-repeat center/cover;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 70px 35px 0 35px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.sub-title {
  padding: 5px 0;
}

.guichet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.champs_guichet {
  box-sizing: border-box;
  width: 260px;
}

.champs {
  box-sizing: border-box;
  width: 560px;
}

.accounts {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--second);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.2);
}

.accounts~section.table {
  max-height: 50vh;
  padding: 0 0 30px 0;
}

.aCont {
  background: var(--primary);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  gap: 15px;
  border-radius: 5px;
}

.aCont h3 {
  color: var(--second);
}

.aCont span {
  color: var(--second);
}

.acont p {
  font: 600 13px sans-serif;
  background: white;
  text-align: right;
  overflow: hidden;
}

.aCont p span {
  background: var(--third);
  padding: 1px 3px;
  color: white;
}

p.acMoney {
  background: var(--second);
  text-align: right;
  font: 600 18px sans-serif;
  overflow: hidden;
  border-radius: 3px;
  margin: 0;
}

.accname {
  margin: 0;
  font: 14px sans-serif;
  text-transform: uppercase;
}

.right {
  display: flex;
  flex-direction: column;
  background: var(--second);
  width: 250px;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);
}

.right .nom {
  text-transform: capitalize;
  background-color: var(--third);
  color: var(--second);
  margin: 0 -10px;
  padding: 5px 10px;
}

section.table {
  overflow-x: auto;
  border-radius: 5px;
  max-height: 73vh;
}

table {
  flex-direction: column;
  background: white;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  font: 15px arial;
}

caption {
  padding: 25px 0 8px 10px;
  text-align: left;
  font-weight: bold;
  background: white;
}

th:first-child,
td:first-child {
  padding: 8px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--primary);
  color: whitesmoke;
}

tr:first-child {
  top: 0;
  position: sticky;
  z-index: 1;
}

tr:nth-child(odd) {
  background: rgba(220, 216, 216, 0.363);
  color: var(--primary);
  font-weight: 600;
}

.right-align {
  text-align: right;
  font-weight: bold;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn {
  position: relative;
  margin: 0;
  padding: 8px 10px;
  background-color: var(--primary);
  color: var(--second);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
}

.delete {
  background-color: var(--red);
  color: var(--second);
}

.btn:has(.fa-plus) {
  background-color: var(--success);
}

.btn-switch {
  cursor: pointer;
  display: inline-block;
  padding: 6px 34px;
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  font-size: 15px;
}

.btn_active {
  background: var(--primary);
  color: var(--second);
}

.btn-headers {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  align-items: center;
}

.our-relative {
  position: relative;
}

.option-links {
  background-color: var(--primary);
  color: var(--second);
  position: absolute;
  right: 35px;
  top: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  z-index: 10;
}

.option-links::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 10%;
  transform: rotate(180deg);
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--primary) transparent transparent;
}

.option-link,
.desactiver {
  display: flex;
  color: var(--second);
  cursor: pointer;
  padding: 5px;
  gap: 10px;
}
.option-link:hover{
  border-bottom: 1px solid;
}

.desactiver {
  color: var(--red);
}

div.container.printable {
  margin: auto;
}

.printable {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  display: none;
}

@media print {
  .printable {
    display: block;
  }

  body {
    background: white;
    /* color: black; */
  }


  .not_printable {
    visibility: hidden
  }
}

.subMenu-headers {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.row,
center {
  display: flex;
  gap: 21px;
  align-items: center;
}

.cloturer {
  background-color: var(--primary);
  padding: 6px;
  border-radius: 3px;
}

.valider {
  display: none;
}

.amortissement {
  gap: 5px;
}

.check {
  display: flex;
  gap: 15px;
}

.valid {
  position: relative;
  color: green;
  padding-left: 30px;
}

.input-one {
  box-sizing: border-box;
  display: flex;
  gap: 41px;
}

.valid::after {
  content: '✓';
  position: absolute;
  left: 0;
  top: -10px;
  font: 500 18px sans-serif;
  transform: scale(1, .6);
  background-color: var(--red);
  padding: 7px 5px;
  border-radius: 50%;
  color: white;
  background: green;
}

small {
  color: var(--red)
}

input[type="radio"] {
  max-height: 13px;
  margin: 0;
  min-width: fit-content;
}

.error {
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 100000000000000000000000000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--second);
  padding: 0 15px;
  height: 50px;
  border-radius: 5px;
  color: var(--red);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  padding-left: 40px;

  span {
    background-color: var(--red);
    color: var(--second);
    padding: 0 6px;
    border-radius: 50%;
    font: 600 20px arial;
  }
}

.error::after {
  content: 'X';
  position: absolute;
  left: 10px;
  font: 500 18px sans-serif;
  transform: scale(1, .6);
  background-color: var(--red);
  padding: 7px 5px;
  border-radius: 50%;
  color: var(--second);
}

.error.success {
  color: green;
}

.error.success::after {
  content: '✓';
  background-color: green;
}

.depot.btn {
  background-color: rgb(0, 158, 105);
}

.text-red {
  color: red;
}

.form-depot {
  flex-direction: column;
  gap: 10px;
  background-color: var(--second);
  box-sizing: border-box;
  padding: 20px;
  width: 604px;
  border-radius: 5px;
}

tr td:last-child {
  padding: 5px;
}

.single-number>* {
  font-weight: bold !important;
  text-transform: uppercase;
}

.couple-number {
  text-transform: uppercase;
}

input[type="checkbox"] {
  max-width: fit-content;
  max-height: fit-content;
}

.retour::after {
  position: absolute;
  display: none;
  top: 0;
  right: -80px;
  content: "Retour";
  padding: 5px 10px;
  background: var(--second);
  border-radius: 5px;
  color: var(--primary);
  box-shadow: 2px 4px 12px var(--primary);
  z-index: 100000;
}

.retour:hover::after {
  display: block;
}

.money {
  text-align: end;
}

@media print {
  * {
    padding: 0 !important;
  }

  body {
    margin: 0;
  }

  .not_printable {
    display: none;
  }

  .table {
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  table {
    border-radius: 0 !important;
  }

  tr:nth-child(1) {
    position: relative;
  }

  th {
    background-color: var(--primary) !important;
    color: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    font-size: 12px;
    padding:0 5px !important;
  }
  tr:nth-child(odd){
    background-color: rgba(220, 216, 216, 0.363)!important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  td {
    font-size: 11px;
    padding: 3px !important;
  }
}

section.table:has(.fa.fa-ellipsis-v) {
  min-height: 350px;
}

.btn:has(.fa-arrow-down):not(.for_mic){
  background-color: var(--success);
}
.btn:has(.fa-arrow-up):not(.for_mic){
  background: rgb(10, 111, 124)
}
.decrease {
  color: red;
  font-weight: bold;
}
.increase {
  color: green;
  font-weight: bold;
}

.salarier_mul{
  margin: 15px 0;
}


.nextPaginator {
  display: flex;
  justify-content: end;
  padding: 10px;
  gap: 20px;
}

